.cabecalho {

background-color: #413ee9;
display: flex;
justify-content: space-around;




}


.cabecalho-imagem
{
  display: inline-block; 
  width: 400px;
  height: 300px;



}


